<h1>Log In Below:</h1>

<form method = "post" action = "/sessions">

    <label>Username: <input type = "text" name = "username"><br></label>
    <label>Password: <input type = "password" name = "password"><br></label>

    <p><input type = "submit" value = "Log In"></p>

</form>