<div id='flash' class='error' style="color:red">
  <%= flash[:error] %>
</div>

<h1>Log In Below:</h1>

<form method = "post" action = "/sessions">

   Username: <input type = "text" name = "username"><br>
    Password: <input type = "password" name = "password"><br>

    <p><input type = "submit" value = "Log In"></p>

</form>