
<h1> Welcome <%= current_user.username %></h1>

<h2><label><a href = '/npcs'>see all of your NPCS</a></label>
<h2><label><a href = '/npcs/new'>create a new NPC </a></label>

<a href= "/sessions/logout">Log Out </a>