<h1>Sign Up Below:</h1>

<form method = "post" action = "/registrations">

    Email: <input type = "text" name = "email"> <br>
    Password: <input type = "text" name = "password">

    <p><input type = "submit" value = "Sign Up"> </p>
    
</form>