<h1>Sign Up Below:</h1>

<form method = "post" action = "/registrations">
    <p><label><b>Username:</b>
    <input type = "text" name = "username"></p></label>
    
    <p><label><b>Email:</b>
    <input type = "text" name = "email"> </p> </label>
    
    <p><label><b>Password:</b> 
    <input type = "text" name = "password"></p></label>

    <p><input type = "submit" value = "Sign Up"> </p>
    
</form>