<div id='flash' class='error'>
  <%= flash[:error] %>
</div>

<h1>Sign Up Below:</h1>

<form method = "post" action = "/registrations">
    <p><label><b>Username:</b>
    <input type = "text" name = "username"></p></label>
    
    <p><label><b>Password(betweern 4-10 characters):</b> 
    <input type = "text" name = "password"></p></label>

    <p><label><b>Confirm your password:</b>
    <input type = "text" name= "password_confirmation"

    <p><input type = "submit" value = "Sign Up"> </p>
    
</form>