<h1>Create a new Npc</h1>

<form action= "/npcs" method = "POST">
<p>Name: <input type = "text" name=""></p>
<p><input type = "text" name=""></p>
<p><input type = "text" name=""></p>
<p><input type = "text" name=""></p>
<p><input type = "text" name=""></p>
<p><input type = "text" name=""></p>
<p><input type = "text" name=""></p>
<p><input type = "text" name=""></p>
<p><input type = "text" name=""></p>
<p><input type = "text" name=""></p>

<input type= "submit" value="Create!">
</form>