<style>
h1{
    color: blue;
}
</style>


<h1><u>Create a new Npc</u></h1>

<form action= "/npcs" method = "POST">
<ul>
    <h3><u>Basic Information:</u></h3>
    <li>Name: <input type = "text" name="npcs[name]"></li>
    <li>Challenge Rating: <input type = "text" name="npcs[cr_rating]"></li>
    <li>Experience points for encounter: <input type = "text" name="npcs[exp]"></li>
    <li>Species: <input type = "text" name="npcs[species]"></li>
    <li>Class: <input type = "text" name="npcs[npc_class]"></li>

    <h3><u>Defensive Stats:</u></h3>
    <li>Hit Points: <input type = "text" name="npcs[hp]"></li>
    <li>Resolve Points: <input type = "text" name="npcs[rp]"></li>
    <li>Initiative: <input type = "text" name = "npcs[initiative]"></li>
    <li>Energy Armor Class: <input type = "text" name="npcs[eac]"></li>
    <li>Kinetic Armor Class: <input type = "text" name="npcs[kac]"></li>
    <li>Defensive Ability: <input type = "text" name="npcs[defense_ability]"></li>
    <li>Immunities: <input type = "text" name="npcs[immunities][]"></li>
    <li>Immunities: <input type = "text" name="npcs[immunities][]"></li>

    <h3><u>Saving Throws:</u></h3>
    <li>Fortitude: <input type = "text" name="npcs[fort_save]"></li>
    <li>Reflex: <input type = "text" name="npcs[ref_save]"></li>
    <li>Will: <input type = "text" name="npcs[will_save]"></li>

    <h3><u>Offensive Stats:</u></h3>
    <li>Speed: <input type = "text" name="npcs[speed]"></li>
    <li>Melee Attacks: <input type = "text" name="npcs[melee][]"></li>
    <li>Melee Attacks: <input type = "text" name="npcs[melee][]"></li>
    <li>Ranged Attacks: <input type = "text" name="npcs[ranged][]"></li>
    <li>Ranged Attacks: <input type = "text" name="npcs[ranged][]"></li>
    <li>Offensive Ability: <input type = "text" name="npcs[offense_ability]"></li>
    
   
    <h3><u>Ability Scores & Modifiers</u></h3>
    <p>Choose the 3 main ability scores for the NPC, and add in the modifiers for each.</p>
    <p>1. <input type = "text" name="npcs[ability_scores][]"> + <input type = "text" name = "npcs[ability_mods][]"></p>
    <p>2. <input type = "text" name="npcs[ability_scores][]"> + <input type = "text" name = "npcs[ability_mods][]"></p>
    <p>3. <input type = "text" name="npcs[ability_scores][]"> + <input type = "text" name = "npcs[ability_mods][]"></p>
   

    <h3><u>Skills:</u></h3>
    <li>Master Skill: <input type = "text" name="npcs[master_skill]"></li>
    <li>Good Skill: <input type = "text" name="npcs[good_skill][]"></li>
    <li>Good Skill: <input type = "text" name="npcs[good_skill][]"></li>
    <li>Special Abilities: <input type = "text" name="npcs[special_ability]"></li>

    <h3><u>Equipment:</u></h3>
    <li>Armor: <input type = "text" name = "npcs[armor]"</li>
    <li>Medical: <input type = "text" name="npcs[medical]"</li>
    <li>Magic Items: <input type = "text" name = "npcs[magic_items]"</li>
    <li>Technological Itmes: <input type = "text" name = "npcs[tech_items]"</li>
    <li>Other: <input type = "text" name = npcs[other_equip]</li>
    <li>Loot: <input type = "text" name = npcs[loot]</li>

    <h3><u>Notes:</u> <input type = "text" name="npcs[optional_info]"></h3>

</ul>

<input type= "submit" value="Create!">
</form>
