<style>
div {
    text-align: center;
}
</style>

<div id='flash' class='error' style="color:red">
  <%= flash[:error] %>
</div>


<h1> Welcome to The Starfinder NPC Creator! </h2>

<h2> Please create a new user <a href="/registrations/signup">Here</a></h2>
<h2> Or you may log in <a href="/sessions/login">Here</a></h2>